.bike{

        li{
            padding: 1rem 2rem;
            border: 1px solid black;
            
        }
    


}
.select{
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a{
            color: azure;
        }
    }
}

.bike-categories{

    width: 300px;
    height: 400px;
    transition: 1s;
    transform: translateX(-500px);
}

.move{
    transition: 1s;
    transform: translateX(0px);
}
.green{
    background-color: #198754;
    color: white;
}

.main-Sale{
    position: relative;

}
.Sale{
    display: inline-block;

    
    position: absolute;
    top: 0;
    right: 0;
    border:  2px solid #198754 ;
    color: #198754;
    padding: 5PX 10px ;
    background-color: white;
}